<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezlinker.app.modules.systemconfig.mapper.ModuleTypeConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ezlinker.app.modules.systemconfig.model.ModuleTypeConfig">
        <result column="id" property="id"/>
        <result column="record_version" property="recordVersion"/>
        <result column="x" property="x"/>
        <result column="create_time" property="createTime"/>
        <result column="label" property="label"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="icon" property="icon"/>
        <result column="description" property="description"/>
    </resultMap>

    <select id="all" resultType="com.ezlinker.app.modules.systemconfig.model.ModuleTypeConfig"
            parameterType="java.lang.Long">
        SELECT
                *
            FROM
                (
            SELECT
                A.protocol_type_id,
                A.module_type_id,
                B.`name` AS `protocol_name`
            FROM
                ez_relation_protocol_type_module_type A
                LEFT JOIN ez_device_protocol_config B ON ( A.protocol_type_id = B.id )
            WHERE
                A.protocol_type_id = #{protocolTypeId}
                ) C
                LEFT JOIN ez_module_type_config D ON ( C.module_type_id = D.id )
    </select>


</mapper>
