<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezlinker.app.modules.schedule.mapper.ScheduleInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ezlinker.app.modules.schedule.model.ScheduleInfo">
        <result column="id" property="id"/>
        <result column="device_id" property="deviceId"/>
        <result column="description" property="description"/>
        <result column="job_name" property="jobName"/>
        <result column="job_group" property="jobGroup"/>
        <result column="trigger_name" property="triggerName"/>
        <result column="trigger_group" property="triggerGroup"/>
        <result column="cron_expression" property="cronExpression"/>
        <result column="execute_class" property="executeClass"/>
        <result column="status" property="status"/>
        <result column="schedule_data" property="scheduleData"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <result column="points" property="points"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>

    </resultMap>

</mapper>
