<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>警告信息</title>
</head>
<body>
<h1 style="text-align:center;">
    <span style="color:#E53333;">警告<span></span></span>
</h1>
<h2 style="text-align:center;">
    <span style="color:#E53333;"><span style="color:#64451D;"></span><span style="color:#64451D;">EZ-Linker</span><span
            style="color:#64451D;"></span></span>
</h2>
<h2 style="text-align:center;">
    <span><span style="font-family:Microsoft YaHei;">时间:[#{time}]；</span></span>
</h2>
<h2 style="text-align:center;">
    <span><span style="font-family:Microsoft YaHei;">位于[#{address}]；</span></span>
</h2>
<h2 style="text-align:center;">
    <span><span style="font-family:Microsoft YaHei;">设备:[#{name}]；</span></span>
</h2>
<h2 style="text-align:center;">
    <span><span style="font-family:Microsoft YaHei;">编号SN:[#{sn}]；</span></span>
</h2>
<h2 style="text-align:center;">
    <span><span style="font-family:Microsoft YaHei;">状态改变:[#{state}]</span><span
            style="font-family:Microsoft YaHei;">；</span></span>
</h2>
<h2 style="text-align:center;">
    <span><span style="font-family:&quot;font-size:24px;">及时进行处理!</span><span
            style="font-family:Microsoft YaHei;"></span><span style="font-family:Microsoft YaHei;"></span></span>
</h2>
<p>
    <br/>
</p>
</body>
</html>