<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezlinker.app.modules.module.mapper.StreamIntegrationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ezlinker.app.modules.module.model.StreamIntegration">
        <result column="id" property="id"/>
        <result column="record_version" property="recordVersion"/>
        <result column="x" property="x"/>
        <result column="create_time" property="createTime"/>
        <result column="module_id" property="moduleId"/>
        <result column="token" property="token"/>
        <result column="secret" property="secret"/>
    </resultMap>


</mapper>
